header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(45, 45, 107);
    color: white;
    height: 50px;
    opacity: .74;
}

.scores {
    color: whitesmoke
}

.nfl-pic {
    height: 320px;
}

h1 {
    font-size: 24px
}

.logo {
    height: 55px;
    width: 55px;
}